.error {
  padding-top: 100px;
  text-align: center;

  &__title {
    font-size: 92px;
    line-height: 106px;
  }

  &__description {
    font-size: 66px;
    line-height: 74px;
  }
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
