@use '@shared/styles/animations';

.image {
  background-color: var(--city-image-bg);
  aspect-ratio: 16 / 9;
  object-fit: cover;

  &_single {
    height: inherit;
    width: 50%;

    @media (max-width: 830px) {
      width: inherit;
    }
  }

  &__preparation {
    width: 360px;
    height: 203px;
    border-radius: 2px;
    background: var(--animation-skeleton-color);
    background-size: 200% 100%;
    animation: pulse 1.5s infinite;

    &_single {
      aspect-ratio: 16 / 9;
      height: inherit;
      width: 50%;

      @media (max-width: 830px) {
        width: inherit;
      }
    }
  }
}
