@use '@shared/styles/animations';

.image {
  &__preparation {
    max-width: 360px;
    max-height: 360px;
    border-radius: 2px;
    background: var(--animation-skeleton-color);
    background-size: 200% 100%;
    animation: pulse 1.5s infinite;

    &_single {
      max-width: inherit;
      max-height: 600px;
    }
  }
}
