.slider {
  position: relative;
  padding-right: 8px;
  height: 20px;
  background-color: var(--slider-bg);

  &__range {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }

  &__track {
    position: relative;
    height: 100%;
    z-index: 1;
  }

  &__marks {
    position: absolute;
    left: 8px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__marks-item {
    position: absolute;
    margin: 0 -6px;
    width: 2px;
    height: 12px;
    background-color: var(--slider-mark);
  }

  &__fill {
    position: absolute;
    height: 100%;
    background-color: var(--slider-fill);

    &_disabled {
      background-color: var(--slider-fill-disabled);
    }
  }

  &__thumb {
    position: absolute;
    top: 4px;
    width: 4px;
    height: 12px;
    background-color: var(--slider-thumb);

    &_disabled {
      background-color: var(--slider-fill-disabled);
    }
  }
}
